from src.ml_models import result
from src.ml_models import validator
from typing import List, Dict
#from sklearn.base import BaseEstimator
{{#models}}{{#model}}
from .{{classFilename}}_estimator import WiEstimator as {{classname}}Estimator

{{classname}}Parameters = [
    {{#vars}}
    {
        "name": "{{name}}",
        "type": {{dataType}}
    },
    {{/vars}}
]

class {{classname}}Validator(validator.BaseValidator):
    def __init__(self, **kwargs):
        self.props = {{classname}}Parameters
        validator.BaseValidator.doInit(self, **kwargs)

    def __call__(self):
        return_params = super({{classname}}Validator, self).__call__()
        # additional validation goes here
        return return_params

class {{classname}}Result(result.SuccessResult):
    def __init__(self, *args, **kwargs):
        super({{classname}}Result, self).__init__()
        for key, value in kwargs.items():
            self.add(key, value)

# class {{classname}}Estimator(WiEstimator):
  # Modify this class if you do not want to extend WiEstimator class
  # pass

{{/model}}
{{/models}}
