import requests
import json
import pytest
import sys

@pytest.mark.filterwarnings("ignore:DeprecationWarning")
def test_create(port):
  base_url = 'http://127.0.0.1:' + str(port) + '/api'
  model_id = 'test{{#models}}{{#model}}_{{classFilename}}{{/model}}{{/models}}_01'{{#models}}{{#model}}
  body = {
    'model_id': model_id,
    {{#vars}}'{{name}}': {{{example}}}{{#hasMore}},
    {{/hasMore}}{{/vars}}
  }
  {{/model}}{{/models}}
  res = requests.post(base_url + '/model/create/{{#paths}}{{key}}{{/paths}}',
                      data=json.dumps(body),
                      headers={'Content-Type': 'application/json'})
  print()
  print('Test create:')
  print('Resquest:', json.dumps(body))
  print('Response:', res.json())

  assert res.status_code == 201

@pytest.mark.filterwarnings("ignore:DeprecationWarning")
def test_train(port):
  base_url = 'http://127.0.0.1:' + str(port) + '/api'
  model_id = 'test{{#models}}{{#model}}_{{classFilename}}{{/model}}{{/models}}_01'
  body = {
    'model_id': model_id,
    'features': [[1, 1, 2], [2, 1, 3], [1, 2, 3], [1, 2, 2]],
    'target': [1, 2, 2]
  }
  res = requests.post(base_url + '/model/train',
                      data=json.dumps(body),
                      headers={'Content-Type': 'application/json'})
  print()
  print('Test create:')
  print('Resquest:', json.dumps(body))
  print('Response:', res.json())
  assert res.status_code == 201

@pytest.mark.filterwarnings("ignore:DeprecationWarning")
def test_predict(port):
  base_url = 'http://127.0.0.1:' + str(port) + '/api'
  model_id = 'test{{#models}}{{#model}}_{{classFilename}}{{/model}}{{/models}}_01'
  body = {
    'model_id': model_id,
    'features': [[1, 1, 2], [2, 1, 3], [1, 2, 3], [1, 2, 2]]
  }
  res = requests.post(base_url + '/model/predict',
                      data=json.dumps(body),
                      headers={'Content-Type': 'application/json'})
  print()
  print('Test create:')
  print('Resquest:', json.dumps(body))
  print('Response:', res.json())
  assert res.status_code == 201 and len(res.json()['target']) == len(body['features'][0])
